# Site settings
locale                   : "en-US"
title                    : "Binesh K Sadanandan"
title_separator          : "-"
name                     : &name "Binesh K Sadanandan"
description              : &description "AI in Healthcare | Precision Oncology | Reinforcement Learning | Data Science"
url                      : "https://bineshkumar.me"
baseurl                  : ""
repository               : "thedatasense/thedatasense.github.io"

# Site Author
author:
  avatar           : "profile.jpg"
  name             : "Binesh K Sadanandan"
  bio              : "Senior Principal R&D Engineer (Technical Fellow) at Medtronic | Ph.D. Candidate in Applied Data Science at University of New Haven"
  location         : "New Haven, CT"
  employer         : "Medtronic Surgical Innovation"
  email            : "contact@bineshkumar.me"
  googlescholar    : "https://scholar.google.com/citations?user=YgIIscgAAAAJ"
  github           : "thedatasense"
  linkedin         : "bineshk"

# Publication Category
publication_category:
  manuscripts:
    title: 'Journal Articles & Preprints'
  conferences:
    title: 'Conference Papers'
  patents:
    title: 'Patents'

# Site Settings
teaser                   : # fallback teaser image
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
comments:
  provider               : false

atom_feed:
  hide                   : false
  path                   :

# SEO Related
google_site_verification :
bing_site_verification   :

# Social Sharing
og_image                 :

# Analytics
analytics:
  provider               : "false"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
  - CNAME
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: America/New_York

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
  - jekyll-include-cache

whitelist:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
