<div class="personal-interests">
  <section id="books" aria-labelledby="books-title">
    <h2 id="books-title">Reading</h2>
    <div id="gr_challenge_11680" class="reading-challenge" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0 7px; max-width:230px; min-height:100px">
      <div id="gr_challenge_progress_body_11680" style="font-size:12px; font-family:georgia,serif; line-height:18px">
        <h3 style="margin:4px 0 10px; font-weight:normal; text-align:center">
          <a style="text-decoration:none; font-family:georgia,serif; font-style:italic; font-size:1.1em" rel="nofollow" href="https://www.goodreads.com/challenges/11680-2026-reading-challenge">2026 Reading Challenge</a>
        </h3>
        <div class="challengePic">
          <a rel="nofollow" href="https://www.goodreads.com/challenges/11680-2026-reading-challenge"><img alt="2026 Reading Challenge" style="float:left; margin-right:10px; border:0" src="https://images.gr-assets.com/challenges/1764710439p2/11680.jpg" /></a>
        </div>
        <div><a rel="nofollow" href="https://www.goodreads.com/user/show/174338130-binesh-kumar">Binesh</a> has read 14 books toward their goal of 20 books.</div>
        <div style="width:100px; margin:4px 5px 5px 0; float:left; border:1px solid #382110; height:8px; overflow:hidden; background-color:#FFF">
          <div style="width:70%; background-color:#D7D2C4; float:left"><span style="visibility:hidden">hide</span></div>
        </div>
        <div style="font-family:arial,verdana,helvetica,sans-serif; font-size:90%"><a rel="nofollow" href="https://www.goodreads.com/user_challenges/74420638">14 of 20 (70%)</a></div>
        <div style="text-align:right"><a style="text-decoration:none; font-size:10px" rel="nofollow" href="https://www.goodreads.com/user_challenges/74420638">view books</a></div>
      </div>
      <script defer src="https://www.goodreads.com/user_challenges/widget/174338130-binesh-kumar?challenge_id=11680&amp;v=2"></script>
    </div>
    {% include bookshelf.html %}
  </section>
  <section id="running" aria-labelledby="running-title">
    <h2 id="running-title">Running</h2>
    <iframe title="Recent running activity on Strava" loading="lazy" height="454" width="300" src="https://www.strava.com/athletes/21655967/latest-rides/294ecd43d2175c4434ec42bc74b03460669cba38"></iframe>
    <p><a href="https://www.strava.com/athletes/21655967">Follow on Strava</a></p>
  </section>
</div>
