<div class="personal-interests">
  <section id="books" aria-labelledby="books-title">
    <h2 id="books-title">Reading</h2>
    <div id="gr_challenge_11680" class="reading-challenge">
      <div id="gr_challenge_progress_body_11680">
        <p><a href="https://www.goodreads.com/user_challenges/71569141">2026 reading challenge</a></p>
        <p>Follow my reading progress on Goodreads.</p>
      </div>
      <script defer src="https://www.goodreads.com/user_challenges/widget/199413447-reader?challenge_id=11680&amp;v=2"></script>
    </div>
    <div id="gr_grid_widget_1773012186" class="bookshelf">
      <p><a href="https://www.goodreads.com/review/list/199413447?shelf=read">Browse my bookshelf</a></p>
    </div>
    <script defer src="https://www.goodreads.com/review/grid_widget/199413447.Binesh's%20Book%20Shelf?cover_size=small&amp;hide_link=&amp;hide_title=&amp;num_books=6&amp;order=d&amp;shelf=read&amp;sot=date_pub&amp;widget_id=1773012186"></script>
  </section>
  <section id="running" aria-labelledby="running-title">
    <h2 id="running-title">Running</h2>
    <iframe title="Recent running activity on Strava" loading="lazy" height="454" width="300" src="https://www.strava.com/athletes/21655967/latest-rides/294ecd43d2175c4434ec42bc74b03460669cba38"></iframe>
    <p><a href="https://www.strava.com/athletes/21655967">Follow on Strava</a></p>
  </section>
</div>
